body {
    font-family:Arial, Helvetica, sans-serif;
}
ul {
    -moz-column-count: 4;
    -moz-column-gap: 20px;
    -webkit-column-count: 4;
    -webkit-column-gap: 20px;
    column-count: 4;
    column-gap: 20px;

}

ul li {
    list-style-image: url(list-style-img.png);
    padding-left: 10px;
    
}



